@import '_global.scss';

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.header--desktop {
  display: flex;
  flex: 0 1 auto;
  justify-content: flex-end;
  margin-top: 17px;
}

.main-nav {
  display: flex;

  &__links {
    display: flex;
    align-items: center;
    margin-right: 15px;

    &__item {
      margin-left: 15px;
      font-size: 13px;
      color: $header-color-links;

      &:hover {
        text-decoration: underline;
        opacity: 0.85;
      }
    }
  }

  &__content {
    display: flex;
    position: relative;
    margin: 0 15px;

    &--applications {
      height: 30px;
      width: 30px;
      padding-top: 2px;
      border: none;
      background-color: transparent;
      opacity: 0.55;
      cursor: pointer;

      &:hover {
        opacity: 1;
      }

      &:focus {
        outline: none;
      }
    }
  }
}

.menu-applications {
  position: absolute;
  top: 60px;
  width: 300px;
  padding: 30px;
  border: $footer-border;
  border-radius: 8px;
  box-shadow: 0 1px 2px 0 rgba(60, 64, 67, 0.30), 0 2px 6px 2px rgba(60, 64, 67, 0.15);
  max-height: 100%;

  &.hide {
    visibility: hidden;
  }

  &__content {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 10px;
  }

  &__item {
    list-style: none;
    text-align: center;
    padding-bottom: 10px;

    &:hover {
      border-radius: 8px;
      background-color: #f6fafe;
    }

    &--link {
    font-size: 14px;
    color: #202124;
    letter-spacing: 0.09px;
    overflow: hidden;
    text-overflow: ellipsis;
    }
  }
}

.application__img {
  width: 100%;
  height: 64px;
  padding-top: 15px;
  background: url('/img/Icons_Sprite.png') no-repeat;
  background-position-x: 50%;
  background-size: 80%;

  &--account {
    background-position-y: -1768px;
  }
  &--search {
    background-position-y: -1324px;
  }
  &--maps {
    background-position-y: -1578px;
  }
  &--youtube {
    background-position-y: -2400px;
  }
  &--play {
    background-position-y: -819px;
  }
  &--news {
    background-position-y: -1641px;
  }
}

.log-in-btn {
  height: 30px;
  padding: 0 0;
  border: $border-log-in-btn;
  border-radius: 2px;
  background-image: $log-in-btn-bg;

  &:focus {
    outline: none;
  }

  &__link {
    padding: 0 12px;
    font-size: 13px;
    font-weight: bold;
    color: #ffffff;
  }
}

.main-content {
  display: flex;
  flex: 10 1 auto;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 300px;
  margin-top: 110px;
  margin-bottom: 30px;
}

.logo--main {
  height: 90px;
}

.search {
  &__container {
  display: flex;
  position: relative;
  width: 535px;
  margin-top: 25px;
  padding-left: 47px;
  border: $input-field;
  border-radius: 24px;

    &:hover {
      border: $input-field-hover;
      box-shadow: $input-field-shadow;
    }

    &::before {
      content: url('/img/icons/focus.svg');
      position: absolute;
      z-index: 10;
      width: 20px;
      height: 20px;
      left: 14px;
      top: 13px;
    }
  }

  &__field {
    flex: 1 1 auto;
    max-width: 100%;
    margin: 5px 0;
    padding: 8px 0;
    border: none;
    font-size: 16px;
    color: $input-text-color;

    &:focus {
      outline: none;
    }
  }

  &__icon-btn {
    padding: 0;
    border: none;
    cursor: pointer;

    &:focus {
      outline: none;
    }

    &--keyboard {
      width: 40px;
      background: url('/img/icons/kboard.png') no-repeat 50% 50%;
    }
    &--voice {
      width: 24px;
      margin: 0 16px 0 7px;
      background: url('/img/icons/mic.svg') no-repeat 50% 50%;
    }
  }

  &__buttons {
    display: flex;
    justify-content: center;
    margin-top: 18px;
    padding: 11px;
    margin-right: 12px;
  }

  &__btn {
    margin: 0 5px;
    padding: 9px 16px 10px 16px;
    border: $search-btn;
    border-radius: 4px;
    background-image: $search-btn-bg;
    font-size: 14px;
    color: $search-btn-color;
    cursor: pointer;

    &:hover {
      border: $search-btn-hover;
      box-shadow: $search-btn-shadow;
      background-image: $search-btn-bg-hover;
      color: #222222;
    }
  }
}

.footer--desktop {
  flex: 0 1 auto;
  background-color: $footer-bg;
}

.footer-content {
  height: 41px;
  border-top: $footer;

  &__copyright {
    padding-top: 11px;
    font-size: 15px;
    color: rgba(0,0,0,.54);
  }

  &__menu {
    display: flex;
    justify-content: space-between;
    font-size: 14px;
    color: $footer-color;

    &--advertising {
      display: flex;
    }

    &--conditions {
      display: flex;
    }

    &-item {
      margin: auto 27px auto 0;
      list-style: none;
      cursor: pointer;

      &:last-child {
        margin-right: 0;
      }

      &:hover {
        text-decoration: underline;
      }

      &--settings {
        position: relative;
      }
    }

    &-link,
    a:-webkit-any-link {
      color: $footer-color;
    }
    &-link:link {
      color: $footer-color;
    }
    &-link:visited {
      color: $footer-color;
    }


    &-settings {
      padding: 0;
      border: none;
      font-size: 14px;
      color: $footer-color;
      cursor: pointer;

      &:hover {
        text-decoration: underline;
      }

      &:focus {
        outline: none;
      }
    }
  }
}

.menu-settings {
  position: absolute;
  bottom: 18px;
  right: 0px;
  border: 1px solid #999999;
  padding-top: 11px;
  padding-bottom: 9px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  background: #ffffff;

  &.hide {
    visibility: hidden;
  }

  &--item {
    display: block;
    margin: 0 30px;
    padding: 15px 0;
    white-space: nowrap;
    text-decoration: none;
    color: $footer-color;

    &:hover {
      color: #333333;
      text-decoration: underline;
    }
  }
}